/* Общие стили */

.container {
    max-width: 1100px;
    padding: 0;
}
.gradient {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(249,249, 249,0.8269)), to(rgba(249,249,249,0)));
}
a {
    color: inherit;
    text-decoration: none;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
p {
    margin-bottom: 0;
}
.col-xl-8 {
    padding-left: 0;
    padding-right: 0;
}
.col-xl-12 {
    padding-left: 0;
    padding-right: 0;
}

.col-xl-2 {
    padding: 0;
    text-align: center;
}
.col-xl-3 {
    padding: 0;
}

.col-xl-4 {
    padding: 0;
}

.col-xl-6 {
    padding: 0;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 523px;
    color: white;
}

h2 {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

.button {
    font-family: "GilroyRegular";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    display: inline-block;
    background-color: #333;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: 4px 4px 4px grey;
}

.button-wrapper {
    text-align: center;
}

.section__text {
    font-size: 21px;
    text-align: center;
    font-family: "GilroyRegular";
    font-weight: 400;
    line-height: 29.4px;
}

.section__title {
    margin-bottom: 95px;
}

.section__text--white {
    color: white;
}

.section__title--white {
    color: white;
}

.button--white {
    background-color: white;
    color: #333;
    border: 1px solid #333;
    padding: 9px 19px;
    margin-left: 30px;
}
.card__button {
    margin-top: 15px;
}

/* Шапка */

.header {
    background-color: #333;
    padding-top: 27px;
    padding-bottom: 31px;
}

.navbar-toggler {
    border: none;
}

.search-icon {
    margin-right: 13px;
}

.navbar-nav {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.navbar-expand-lg {
    padding: 0;
}

.nav-link {
    padding: 0 !important;
    font-family: "GilroyRegular";
    font-size: 14px;
    color: white;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-account {
    margin-right: -15px;
}

/* Секция меню */

.row-menu {
    padding-top: 60px;
    padding-bottom: 54px;
    margin-left: 0;
    margin-right: 0;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}
.menu__item {
    display: flex;
    align-items: center;
    text-align: center;
}
.menu__item--short {
    max-width: max-content;
}
.menu__item-slash {
    margin-left: 15px;
    margin-right: 15px;
    color: #333;
}
.menu__item-text {
    font-size: 14px;
    font-family: "GilroyRegular";
    line-height: 21px;
    text-decoration: underline;
    color: #333;
}
.menu__item-text--last {
    text-decoration: none;
}

/* Секция продукт */

.row-product {
    margin-left: 0;
    margin-right: 0;
}
.row-product__images {
    max-width: 540px;
}
.product__images-big {
    max-width: 540px;
    height: 430px;
    background-image: url(../img/Rectangle\ 23.png);
}
.product__images-short {
    max-width: 160px;
    height: 120px;
    background-image: url(../img/Rectangle\ 23.png);
    background-size: cover;
}
.product__images-bottom {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    max-width: 540px;
    margin-top: 30px;
}
.product__images-short--opac {
    opacity: 0.4;
}
.product__desc-line {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 460px;
}
.product__desc-buttons {
    display: flex;
}
.product__desc-title {
    font-size: 24px;
    font-family: "GilroyMedium";
    letter-spacing: 2.4px;
    color: #333;
    text-transform: uppercase;
}
.point {
    margin-top: 30px;
    display: flex;
    color: #979797;
    font-size: 14px;
    font-family: "GilroyRegular";
    line-height: 21px;
}
.point-brand {
    margin-left: 25px;
}
.product__desc {
    padding: 40px 30px;
    border: 1px solid #D6D6D6;
    max-width: 520px;
    margin-left: 20px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #D6D6D6;
    outline-offset: 10px;
    height: 560px;
    margin-top: 10px;
}
.product__desc-full-desc {
    font-size: 14px;
    line-height: 21px;
    color: #333;
    font-family: "GilroyRegular";
    max-width: 460px;
}
.product__desc-price {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
    letter-spacing: 2.1px;
    font-family: "GilroySemiBold";
}

/* Секция рекламы */
.adversting {
    margin-top: 120px;
    padding-bottom: 125px;
}

#more {
    display: none;
}

.adversting__left-text {
    margin-bottom: 0;
    max-width: 540px;

}
#shadow {
    text-shadow: 0 0 5px #333;
    color: transparent;
}

#btn {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed;
    font-size: 18px;
    letter-spacing: 1.8px;
    font-family: "GilroyMedium";
    opacity: 1;
    transition: .3s;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
}
.adversting__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.adversting__right-item {
    align-items: center;
    text-align: center;
}
.adversting__right-item-title {
    margin-top: 15px;
    margin-bottom: 30;
    font-size: 16px;
    line-height: 24px;
    font-family: "GilroyRegular";
}

/* Секция может понравиться */

.catalog__card {
    align-items: center;
    text-align: center;
    max-width: 280px;
}
.row-can-like {
    justify-content: space-between;
    padding-bottom: 155px;
}

.catalog__card-title {
    margin-bottom: 10px;
    margin-top: 25px;
    font-family: "GilroyRegular";
    font-size: 16px;
    line-height: 24px;
}
.catalog__card-brand {
    font-family: "GilroySemiBold";
    font-size: 24px;
    line-height: 33px;
    color: #333;
}

/* Мэин блок рассылка */

.newsletter {
    max-width: ;
    padding-top: 100px;
    padding-bottom: 125px;
    background-image: url(../img/saloons-bg.png);
}
.newsletter__form {
    display: flex;
    background-color: white;
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    outline-offset: 15px;
    height: 85px;
    max-width: 418px;
}
.newsletter-container {
    max-width: 776px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.newsletter__list-item {
    color: white;
    font-size: 18px;
    font-family: "GilroyRegular";
    list-style: none;
    line-height: 25px;
}
.newsletter__list-item:not(:last-child) {
margin-bottom: 15px;
}
.newsletter__list {
    padding: 0;
}
.sub-icon {
    margin-right: 20px;
}
form {
    display: flex;
    align-items: center;
}
.button-newsletter {
    margin: 0;
}
.button-newsletter--black {
background-color: #333;
padding: 14px 35px;
font-size: 14px;
margin-left: 15px;
margin-right: 22px;
font-family: "GilroyMedium";
letter-spacing: 1.4px;
}
.input-mail {
    height: 51px;
    max-width: 200px;
    margin-left: 22px;
}

/* Футер */

.footer {
    padding-top: 80px;
}
.footer-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.footer__item {
    padding: 0;
}

.footer__line {
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer__item-title {
    font-size: 18px;
    font-family: "GilroyMedium";
    letter-spacing: 2px;
    line-height: 25px;
    color: #333;
}

.footer__item-list-colum {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    font-family: "GilroyRegular";
}

.footer__item-list-colum a {
    text-decoration: none;
    color: #333;
}

.footer__item-list-colum img {
    margin-right: 20px;
}

.footer__item-list-colum:not(:last-child) {
    margin-bottom: 15px; 
}

.footer__item-list {
    padding: 0;
}

.footer__item-title-text {
    font-size: 14px;
    line-height: 21px;
    font-family: "GilroyRegular";
}

.footer__item-title-social {
    margin-top: 22px;
    margin-right: 25px;
}

.footer__item-title-social--last {
    margin-top: 22px;
}

.visa {
    margin-right: 20px;
}

.footer__bottom {
    font-size: 14px;
    font-family: "GilroyRegular";
    line-height: 21px;
}

.footer__bottom--last {
    text-decoration: underline;
    text-align: right;
}

.col__bottom {
    padding: 0;
}

.footer__bottom--second {
    text-align: center;
}

.footer__bottom--third {
    text-align: center;
}

.footer__item-line {
    width: 250px;
}
.footer__line {
    max-width: 1100px;
}

.text-collapse .text-collapse-text {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(249,249, 249,0.8269)), to(rgba(249,249,249,0)));
    max-height: 220px;

}

.text-collapse .text-collapse-trigger {
}

.text-collapse.text-collapse-collapsed .text-collapse-text {
    max-height: max-content;
    -webkit-mask-image: none;
}

.text-collapse.text-collapse-collapsed .text-collapse-trigger {
}